* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    background-color: #228E46;
    height: 100px;
}

.titre {
    font-family: 'Gotham Ultra';
    font-size: 120px;
    color: #ffffff;
    align-self: center;
}

header img {
    width: 70px;
    position: absolute;
    right: 20px;
    top: 40px;
    filter: invert(100%);
    cursor: pointer;
}

.ligne {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 15px;
}

.ligne:last-child {
    margin: 0;
}

.ligne a {
    margin-right: 30px;
    border: 3px solid #9a6a54;
    border-radius: 25px;
    width: 350px;
    height: 250px;
    text-decoration: none;
}

a:last-child {
    margin-right: 0;
}

a:hover {
    background-color: rgb(34, 145, 70, 0.65);
}

.libelle {
    font-family: 'Gotham Medium';
    font-size: 30px;
    color: #00b050;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(300%);
}

.libelle:hover {
    color: #ffffff;
}